.ppc {
    &__with-logo {
        display: flex;
        column-gap: 48px;
        margin-bottom: 40px;

        @include mobile {
            flex-direction: column;
            row-gap: 30px;
            margin-bottom: 24px;
        }
    }

    &__logo {
        width: 115px;
        height: 115px;
        flex-shrink: 0;
        align-self: center;
    }
}