:root {
    --color-green: #007765;
    --color-light: #FFFFFF;
    --color-gray: #EEEEEE;
    --color-dark-gray: #333333;

    --font-family-base: 'Roboto', sans-serif;

    --container-width: 1219px;
    --container-padding-x: 55px;

    --header-height: 84px;

    --section-padding-top: 48px;
    --section-padding-bottom: 92px;

    --transition-duration: 0.2s;

}